{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Tela explains finance concepts in plain language and provides modeled forecasts.">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for page in pages|sort(attribute='sortorder') %}
          {% if page.slug == 'introduction' %}
              {{ page.content }}
              </p>
              {% include "choices/index.html" %}
          {% endif %}
        {% endfor %}

	{% for a in articles %}
	{% if loop.index < 5 %}
	{% if a.headerimage and a.headeralt %}
        <div class="row" style="padding-top: 30px;">
          <div class="col-md-3">
            <a href="/blog/{{ a.slug }}.html"><img src="{{ a.headerimage }}" alt="{{ a.headeralt }}" width="100%" style="padding: 4px 0 6px 0; border-radius: 12px;"></a>
          </div>
          <div class="col-md-8">
        {% endif %}
        <h2 style="padding-top: 0px; margin-top: 0px;"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h2>
        <div class="post-byline">
        </div>
        {{ a.content|truncate(210) }} (<a href="/blog/{{ a.slug }}.html">read more</a>)
        {% if a.headerimage and a.headeralt %}
          </div>
        </div>
        {% endif %}
	{% endif %}
	{% endfor %}
        <br>
        <center><a href="/blog.html"><img src="/img/more-articles.PNG" width="50%" alt="More Articles"></a>
    </div>
    {% include "index-sidebar.html" %}
</div>
{% endblock %}
