&nbsp;<b>Forecasts</b><br>
&nbsp;&nbsp;&nbsp;<a href="/gdp.html">GDP (2018Q2)</a> +2.75%
<br>
&nbsp;&nbsp;&nbsp;<a href="/market-valuation.html">Market Valuation</a> +0.353
<hr>
&nbsp;<b>Tela Indicators</b><br>
&nbsp;&nbsp;&nbsp;<a href="/fsi.html">Financial Stress Index</a> <br>
&emsp;+0.538
<hr>
&nbsp;<b>Economic Releases</b><br>
&nbsp;&nbsp;&nbsp;PPI: Finished Goods <br>
&emsp;<font color="black">&#9670; 0.0%</font>
<br>
&nbsp;&nbsp;&nbsp;CPI <br>	
&emsp;<font color="green">&#9650; +0.1%</font>
<br>
&nbsp;&nbsp;&nbsp;Core CPI <br>
&emsp;<font color="green">&#9650; +0.2%</font>
<br>
&nbsp;&nbsp;&nbsp;Export Price Index <br>
&emsp;<font color="green">&#9650; +0.3%</font>
<br>
&nbsp;&nbsp;&nbsp;Import Price Index<br>
&emsp;<font color="red">&#9660; -0.4%</font>
<hr>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://bankcasting.us17.list-manage.com/subscribe/post?u=b3b11f090db9e2871e474b005&amp;id=204a12fade" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Tela Newsletter</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b3b11f090db9e2871e474b005_204a12fade" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
