{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="All topics for Bankcasting, presented on the table of contents page.">
{% endblock %}

{% block title %}Table of Contents for {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Table of Contents</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <h3>1. <a href="/introduction.html">Introduction</a></h3>
          <h3>2. <a href="/forecasting.html">Forecasting</a></h3>
          <h4 class="toc-subsection"><a href="/gdptoday.html">2.1. GDPToday</a></h4>   
          <h4 class="toc-subsection"><a href="/bfsi.html">2.2. BFSI</a></h4>       
        </div>
      </div>
      <div class="col-md-4">
        <div class="list-group">    
          <h3><a href="/about.html">About</a></h3>
          <h3><a href="/disclaimer.html">Disclaimer</a></h3>
          </div>
    </div>
</div>
{% if articles %}
<div class="row">
  <div class="col-md-12">
    <h2><a href="/blog.html">Blog Posts</a></h2>
    {% for a in articles %}
      <h4 style="padding-bottom: 6px; line-height: 1.25em;"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h4>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
