{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="All topics for Bankcasting, presented on the table of contents page.">
{% endblock %}

{% block title %}Table of Contents for {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Table of Contents</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <h3>1. <a href="/introduction.html">Introduction</a></h3>
          <h3>2. <a href="/forecasting.html">Forecasting</a></h3>
          
          <h4 class="toc-subsection">2.1. <a href="/capital-ratio-forecasting.html">Capital Ratios</a></h4>
          <h4 class="toc-subsection">2.2. <a href="/balance-sheet-forecasting.html">Balance Sheet</a></h4>
          <h4 class="toc-subsection">2.3. <a href="/income-statement-forecasting.html">Income Statement</a></h4>          
          <h3>3. <a href="/analysis.html">Analysis</a></h3>
          <h4 class="toc-subsection"><a href="/profit-distribution.html">3.1. Profit Distribution</a></h4>
          <h4 class="toc-subsection"><a href="/do-banks-scale.html">3.2. Bank Scalability</a></h4> 
          <h4 class="toc-subsection"><a href="/frb-gdp-analysis.html">3.3. CCAR GDP Analysis</a></h4>         
          <!--
          <h4 class="toc-subsection"><a href="/balance-sheet-analysis.html">3.1. Balance Sheet</a></h4>
          <h4 class="toc-subsection"><a href="/income-statement-analysis.html">3.2. Income Statement</a></h4>
          -->

        </div>
      </div>

      <div class="col-md-4">
        <div class="list-group">
          <h3>4. <a href="/modeling.html">Modeling</a></h3>
          <h4 class="toc-subsection"><a href="/model-lifecycle.html">4.1. Model Lifecycle</a></h4>  
          <h4 class="toc-subsection"><a href="/model-validation.html">4.2. Model Validation</a></h4> 
          <h3>5. <a href="/market-data.html">Market Data</a></h3>
          <h4 class="toc-subsection"><a href="/total-asset-data.html">5.1. Total Assets</a></h4>
          <h4 class="toc-subsection"><a href="/net-income-data.html">5.2. Net Income and ROA</a></h4>
          <h3><a href="/about.html">About</a></h3>
          <h4 class="toc-subsection"><a href="/disclaimer.html">Disclaimer</a></h4>          
          <h4 class="toc-subsection"><a href="/change-log.html">Change Log</a></h4>
          
          </div>
    </div>
    {% include "sidebar.html" %}
</div>
{% if articles %}
<div class="row">
  <div class="col-md-12">
    <h2><a href="/blog.html">Blog Posts</a></h2>
    {% for a in articles %}
      <h4 style="padding-bottom: 6px; line-height: 1.25em;"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h4>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
