{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="All topics for Bankcasting, presented on the table of contents page.">
{% endblock %}

{% block title %}Table of Contents for {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Table of Contents</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <h3>1. <a href="/introduction.html">Introduction</a></h3>
          <h4 class="toc-subsection">1.1. <a href="/analytics.html">Analytics</a></h4>

          <h4 class="toc-subsection">1.2. <a href="/model-validation.html">Model Validation</a></h4>
          
          <h4 class="toc-subsection">2. <a href="/risk-culture.html">Risk Culture</a></h4>
          
          <h4 class="toc-subsection">3. <a href="/capital.html">Capital</a></h4>

          <h4 class="toc-subsection">4. <a href="/net-income.html">Net Income</a></h4>

          <div class="toc">4.1. <a href="/ppnr.html">PPNR</a></div>

          <div class="toc">4.2. <a href="/provision.html">Provision</a></div>

          <h4 class="toc-subsection">5. <a href="/net-interest-income.html">Net-interest Income</a></h4>

          <div class="toc">5.1. <a href="/interest-income.html">Interest Income</a></div>

          <div class="toc">5.2. <a href="/interest-expense.html">Interest Expense</a></div>

          <h4 class="toc-subsection">6. <a href="/non-interest-income.html">Non-interest Income</a></h4>

          <h4 class="toc-subsection">7. <a href="/non-interest-expense.html">Non-interest Expense</a></h4>
          
          <h4 class="toc-subsection">8. <a href="bank-assets.html">Assets</a></h4>   

          <h4 class="toc-subsection">9. <a href="total-liabilities.html">Liabilities</a></h4> 

          <h4 class="toc-subsection">10. <a href="total-equity.html">Equity</a></h4>          

        </div>
      </div>

      <div class="col-md-4">
        <div class="list-group">
          <h3>2. Meta</h3>
          <h4 class="toc-subsection"><a href="/about-author.html">About Author</a></h4>
          <h4 class="toc-subsection"><a href="/change-log.html">Change log</a></h4>
        </div>
    </div>
    {% include "sidebar.html" %}
</div>
{% if articles %}
<div class="row">
  <div class="col-md-12">
    <h2><a href="/blog.html">Blog Posts</a></h2>
    {% for a in articles %}
      <h4 style="padding-bottom: 6px; line-height: 1.25em;"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h4>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
